Repository NREL/ComStock, pull requests merged in 2024-11, with the labels that each got.

#199 EUSS Demand Flexibility Measures new lighting control measure and thermostat control updates
  resources/measures/upgrade_df_thermostat_control_load_shed/measure.rb
  resources/measures/upgrade_df_thermostat_control_load_shed/tests/df_thermostat_control_load_shed_test.rb
Labels: upgrade measure

#231 Fix* emissions reporting
  measures/emissions_reporting/measure.rb
  measures/emissions_reporting/measure.xml
  measures/emissions_reporting/tests/EmissionsReporting_Test.rb
  measures/emissions_reporting/tests/smalloffice.osm
  measures/utility_bills/measure.rb
  measures/utility_bills/measure.xml
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
  sampling/README.md
  sampling/tsv_resampling.py
Labels: reporting measure

#254 Rubocop fixes to reporting measures
  .github/pull_request_template.md
  Rakefile
  measures/ApplyUpgrade/measure.rb
  measures/ApplyUpgrade/measure.xml
  measures/BuildExistingModel/measure.rb
  measures/BuildExistingModel/measure.xml
  measures/SimulationOutputReport/measure.rb
  measures/SimulationOutputReport/measure.xml
  measures/TimeseriesCSVExport/measure.rb
  measures/TimeseriesCSVExport/measure.xml
  measures/TimeseriesCSVExport/resources/constants.rb
  measures/TimeseriesCSVExport/resources/psychrometrics.rb
  measures/TimeseriesCSVExport/resources/unit_conversions.rb
  measures/TimeseriesCSVExport/resources/util.rb
  measures/TimeseriesCSVExport/resources/weather.rb
  measures/TimeseriesCSVExport/tests/timeseries_csv_export_test.rb
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
  measures/comstock_sensitivity_reports/tests/comstock_sensitivity_reports_test.rb
  measures/emissions_reporting/measure.rb
  measures/emissions_reporting/measure.xml
  measures/emissions_reporting/tests/EmissionsReporting_Test.rb
  measures/emissions_reporting/tests/emissions_reporting_test.rb
  measures/emissions_reporting/tests/office.osm
  measures/emissions_reporting/tests/smalloffice.osm
  measures/qoi_report/measure.rb
  measures/qoi_report/measure.xml
  measures/qoi_report/tests/qoi_report_test.rb
  measures/run_directory_cleanup/measure.rb
  measures/run_directory_cleanup/measure.xml
  measures/simulation_settings_check/measure.rb
  measures/simulation_settings_check/measure.xml
  measures/simulation_settings_check/tests/simulation_settings_check_test.rb
  measures/utility_bills/measure.rb
  measures/utility_bills/measure.xml
  measures/utility_bills/tests/utility_bills_test.rb
  resources/Gemfile
  test/reporting_measure_tests.txt
Labels: infrastructure, reporting measure, Pull Request - Ready for CI

#257 Postprocessing update: add output variables related to peak intensity & savings and emission intensity & savings
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
  postprocessing/comstockpostproc/units_mixin.py
Labels: postprocessing
