Repository NREL/ComStock, pull requests merged in 2024-03, with the labels that each got.

#127 Add upgrade comparison functionality for plotting
  postprocessing/compare_upgrades.py
  postprocessing/compare_upgrades.py.template
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_measure_comparison.py
  postprocessing/comstockpostproc/plotting_mixin.py
Labels: postprocessing, Pull Request - Ready for CI

#128 update hours of operation figures
  documentation/reference_doc/figures/duration.png
  documentation/reference_doc/figures/start_time.png
Labels: documentation, Pull Request - Ready for CI

#130 delete LA100 QAQC Measures
  measures/la_100_qaqc/measure.rb
  measures/la_100_qaqc/measure.xml
  measures/la_100_qaqc/resources/CreateResults.rb
  measures/la_100_qaqc/resources/check_air_loop_temps.rb
  measures/la_100_qaqc/resources/check_calibration.rb
  measures/la_100_qaqc/resources/check_envelope_conductance.rb
  measures/la_100_qaqc/resources/check_fan_power.rb
  measures/la_100_qaqc/resources/check_internal_loads.rb
  measures/la_100_qaqc/resources/check_internal_loads_schedules.rb
  measures/la_100_qaqc/resources/check_la_weather_files.rb
  measures/la_100_qaqc/resources/check_mech_sys_capacity.rb
  measures/la_100_qaqc/resources/check_mech_sys_efficiency.rb
  measures/la_100_qaqc/resources/check_mech_sys_part_load_eff.rb
  measures/la_100_qaqc/resources/check_occ_zones_conditioned.rb
  measures/la_100_qaqc/resources/check_part_loads.rb
  measures/la_100_qaqc/resources/check_plant_cap.rb
  measures/la_100_qaqc/resources/check_plant_temps.rb
  measures/la_100_qaqc/resources/check_plenum_loads.rb
  measures/la_100_qaqc/resources/check_pump_power.rb
  measures/la_100_qaqc/resources/check_sch_coord.rb
  measures/la_100_qaqc/resources/check_simultaneous_heating_and_cooling.rb
  measures/la_100_qaqc/resources/check_supply_air_and_thermostat_temp_difference.rb
  measures/la_100_qaqc/resources/check_unmet_hours.rb
  measures/la_100_qaqc/resources/deer_vintages.rb
  measures/la_100_qaqc/resources/os_lib_helper_methods.rb
  measures/la_100_qaqc/resources/os_lib_reporting_qaqc.rb
  measures/la_100_qaqc/resources/report.html.erb
  measures/la_100_qaqc/tests/USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw
  measures/la_100_qaqc/tests/measure_Test.rb
  measures/la_100_qaqc/tests/school.osm
Labels: reporting measure, Pull Request - Ready for CI

#132 unit test fixes
  resources/measures/create_typical_building_from_model/measure.xml
  resources/measures/create_typical_building_from_model/resources/os_lib_model_generation.rb
Labels: workflow measure, Pull Request - Ready for CI

#134 Unit test fixes
  resources/measures/ChangeBuildingLocation/measure.xml
  resources/measures/ChangeBuildingLocation/tests/change_building_location_test.rb
  resources/measures/upgrade_env_new_aedg_windows/measure.xml
  resources/measures/upgrade_env_new_aedg_windows/tests/env_new_aedg_windows_test.rb
  resources/measures/upgrade_env_roof_insul_aedg/measure.rb
  resources/measures/upgrade_env_roof_insul_aedg/measure.xml
  resources/measures/upgrade_env_roof_insul_aedg/tests/env_roof_insul_aedg_test.rb
  resources/measures/upgrade_hvac_economizer/measure.xml
  resources/measures/upgrade_hvac_economizer/tests/hvac_economizer_test.rb
  test/resource_measure_tests.txt
Labels: workflow measure, Pull Request - Ready for CI

#137 Fix unit tests
  measures/la_100_qaqc/measure.rb
  measures/la_100_qaqc/measure.xml
  measures/la_100_qaqc/resources/CreateResults.rb
  measures/la_100_qaqc/resources/check_air_loop_temps.rb
  measures/la_100_qaqc/resources/check_calibration.rb
  measures/la_100_qaqc/resources/check_envelope_conductance.rb
  measures/la_100_qaqc/resources/check_fan_power.rb
  measures/la_100_qaqc/resources/check_internal_loads.rb
  measures/la_100_qaqc/resources/check_internal_loads_schedules.rb
  measures/la_100_qaqc/resources/check_la_weather_files.rb
  measures/la_100_qaqc/resources/check_mech_sys_capacity.rb
  measures/la_100_qaqc/resources/check_mech_sys_efficiency.rb
  measures/la_100_qaqc/resources/check_mech_sys_part_load_eff.rb
  measures/la_100_qaqc/resources/check_occ_zones_conditioned.rb
  measures/la_100_qaqc/resources/check_part_loads.rb
  measures/la_100_qaqc/resources/check_plant_cap.rb
  measures/la_100_qaqc/resources/check_plant_temps.rb
  measures/la_100_qaqc/resources/check_plenum_loads.rb
  measures/la_100_qaqc/resources/check_pump_power.rb
  measures/la_100_qaqc/resources/check_sch_coord.rb
  measures/la_100_qaqc/resources/check_simultaneous_heating_and_cooling.rb
  measures/la_100_qaqc/resources/check_supply_air_and_thermostat_temp_difference.rb
  measures/la_100_qaqc/resources/check_unmet_hours.rb
  measures/la_100_qaqc/resources/deer_vintages.rb
  measures/la_100_qaqc/resources/os_lib_helper_methods.rb
  measures/la_100_qaqc/resources/os_lib_reporting_qaqc.rb
  measures/la_100_qaqc/resources/report.html.erb
  measures/la_100_qaqc/tests/USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw
  measures/la_100_qaqc/tests/measure_Test.rb
  measures/la_100_qaqc/tests/school.osm
  resources/measures/create_typical_building_from_model/measure.xml
  resources/measures/create_typical_building_from_model/resources/os_lib_model_generation.rb
  resources/measures/create_typical_building_from_model/tests/GenericGbxml.osm
  resources/measures/create_typical_building_from_model/tests/create_typical_building_from_model_test.rb
  test/measure_tests.txt
  ymls/bsb-integration-test-baseline.yml
Labels: workflow measure, upgrade measure, Pull Request - Ready for CI

#136 fix comstock-integrated test with proper setting in jenkins.
  postprocessing/comstockpostproc/cbecs.py
  postprocessing/comstockpostproc/comstock.py
  postprocessing/test/bsb-integration-baseline.py
  resources/Gemfile
  samples/bsb-integration-test.csv
  ymls/bsb-integration-test-baseline.yml
Labels: bug, infrastructure, Pull Request - Ready for CI

#135 Fix issues in the resources/measure test
  Rakefile
  resources/measures/adjust_occupancy_schedule/tests/adjust_occupancy_schedule_test.rb
  resources/measures/create_typical_building_from_model/tests/test_hvac.rb
  resources/measures/fault_hvac_economizer_changeover_temperature/tests/measure_test.rb
  resources/measures/fault_hvac_economizer_damper_stuck/tests/measure_test.rb
  resources/measures/hvac_nighttime_oa_controls/measure.rb
  resources/measures/hvac_nighttime_oa_controls/measure.xml
  resources/measures/hvac_nighttime_oa_controls/tests/new_measure_test.rb
  resources/measures/upgrade_advanced_rtu_control/tests/advanced_rtu_control_test.rb
  resources/measures/upgrade_df_thermostat_control_load_shed/tests/df_thermostat_control_load_shed_test.rb
  resources/measures/upgrade_df_thermostat_control_load_shift/tests/df_thermostat_control_load_shift_test.rb
  resources/measures/upgrade_env_new_aedg_windows/tests/measure_test.rb
  resources/measures/upgrade_hvac_console_gshp/tests/console_gthp_test.rb
  resources/measures/upgrade_hvac_hydronic_gshp/tests/hydronic_gthp_test.rb
  resources/measures/upgrade_hvac_multispeed_minimum_flow/tests/measure_Test.rb
  resources/measures/upgrade_hvac_packaged_gshp/tests/packaged_gthp_test.rb
  resources/measures/upgrade_hvac_vrf_hr_doas/tests/measure_test.rb
  resources/measures/upgrade_light_led/tests/light_led_test.rb
  resources/measures/upgrade_ppl_electric_kitchen_equipment/tests/kitchen_equip_measure_test.rb
  resources/measures/upgrade_unoccupied_oa_controls/tests/unoccupied_oa_controls_measure_test.rb
  test/resource_measure_tests.txt
Labels: bug, infrastructure, upgrade measure, Pull Request - Ready for CI
