Repository NREL/ComStock, pull requests merged in 2024-05, with the labels that each got.

#166 [WIP] HP-RTU advanced performance replace hardcoded curve to `.evaluate`
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
Labels: upgrade measure

#167 HP-RTU advanced performance replace hardcoded curve to `.evaluate` 2
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
Labels: upgrade measure

#164 update comstock_hpc_training with kestrel specific instructions
  comstock_hpc_training.md
Labels: documentation

#162 [WIP] HP-RTU standard performance fix
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
  resources/measures/upgrade_hvac_add_heat_pump_rtu/resources/performance_maps_hprtu_std.json
Labels: upgrade measure

#173 added euss yml and removed la100 measure
  ymls/national.yml
Labels: infrastructure

#180 Fix polars version
  postprocessing/compare_runs.py.template
  postprocessing/setup.py
Labels: postprocessing
