Repository NREL/ComStock, pull requests merged in 2024-01, with the labels that each got.

#64 Fix F-Factor Failures Follow-up
  resources/measures/create_typical_building_from_model/measure.xml
  resources/measures/create_typical_building_from_model/resources/os_lib_model_generation.rb
Labels: workflow measure

#67 change PVAV coil type
  resources/measures/create_typical_building_from_model/measure.rb
  resources/measures/create_typical_building_from_model/measure.xml
  resources/measures/create_typical_building_from_model/resources/Model.hvac.rb
Labels: workflow measure

#52 Add AMI comparisons to postprocessing
  postprocessing/README.md
  postprocessing/compare_comstock_to_ami.py.template
  postprocessing/comstockpostproc/__init__.py
  postprocessing/comstockpostproc/ami.py
  postprocessing/comstockpostproc/cbecs.py
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_to_ami_comparison.py
  postprocessing/comstockpostproc/eia.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/plotting_mixin.py
  postprocessing/setup.py
  postprocessing/test/test_comstock_to_ami_comparison.py
  postprocessing/test/test_comstock_to_cbecs_comparison.py
  postprocessing/test/test_comstock_to_eia_comparison.py
  sampling/join_geospatial.py
  sampling/resources/ami_comparison.csv
Labels: postprocessing

#95 Ffactorfix again
  resources/measures/create_typical_building_from_model/resources/os_lib_model_generation.rb
Labels: workflow measure

#30 applicability fix for economizer fault measures
  resources/measures/fault_hvac_economizer_changeover_temperature/measure.rb
  resources/measures/fault_hvac_economizer_changeover_temperature/measure.xml
  resources/measures/fault_hvac_economizer_changeover_temperature/tests/measure_test.rb
  resources/measures/fault_hvac_economizer_damper_stuck/measure.rb
  resources/measures/fault_hvac_economizer_damper_stuck/measure.xml
  resources/measures/fault_hvac_economizer_damper_stuck/tests/measure_test.rb
  resources/tests/models/361_Small_Office_PSZ_Gas_3a_economizer.osm
  resources/tests/models/361_Small_Office_PSZ_Gas_3a_economizer_allfdb.osm
  resources/tests/models/361_Small_Office_PSZ_Gas_3a_economizer_nofdb.osm
  resources/tests/models/361_Small_Office_PSZ_Gas_3a_economizer_notallfdb.osm
Labels: workflow measure

#55 Postprocessing enhancements
  postprocessing/compare_comstock_to_cbecs.py.template
  postprocessing/compare_comstock_to_eia.py.template
  postprocessing/comstockpostproc/__init__.py
  postprocessing/comstockpostproc/cbecs.py
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_measure_comparison.py
  postprocessing/comstockpostproc/comstock_to_cbecs_comparison.py
  postprocessing/comstockpostproc/comstock_to_eia_comparison.py
  postprocessing/comstockpostproc/plotting_mixin.py
  postprocessing/comstockpostproc/utils/hpc.py
Labels: enhancement, postprocessing

#102 Occupant Schedule adjustment
  documentation/reference_doc/4_3_occupancy.tex
  documentation/reference_doc/bibliography.bib
  national/housing_characteristics/options_lookup.tsv
  resources/measures/README.md
  resources/measures/adjust_occupancy_schedule/LICENSE.md
  resources/measures/adjust_occupancy_schedule/README.md
  resources/measures/adjust_occupancy_schedule/README.md.erb
  resources/measures/adjust_occupancy_schedule/docs/.gitkeep
  resources/measures/adjust_occupancy_schedule/measure.rb
  resources/measures/adjust_occupancy_schedule/measure.xml
  resources/measures/adjust_occupancy_schedule/tests/adjust_occupancy_schedule_test.rb
  resources/options_lookup.tsv
Labels: documentation, workflow measure

#107 add cluster columns to options lookup for kestrel
  national/housing_characteristics/options_lookup.tsv
  resources/options_lookup.tsv
Labels: infrastructure

#105 Reduce design days
  documentation/reference_doc/4_9_hvac.tex
  resources/measures/ChangeBuildingLocation/measure.rb
  resources/measures/ChangeBuildingLocation/measure.xml
Labels: documentation, workflow measure
