Repository NREL/ComStock, pull requests merged in 2024-09, with the labels that each got.

#114 update summarize_failures
  postprocessing/comstockpostproc/utils/hpc.py
  postprocessing/extract_models_and_errors.py.template
Labels: Pull Request - Ready for CI

#205 update template yml with new os-standards release
  ymls/national.yml
Labels: infrastructure

#209 comstock sensitivity measure update: replacing `TableMultiVariableLookup` to `TableLookup`
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
  measures/comstock_sensitivity_reports/tests/comstock_sensitivity_reports_test.rb
  measures/comstock_sensitivity_reports/tests/office_heat_pump.osm
Labels: reporting measure

#217 Rhorsey/sampling v2 plotting patch
  postprocessing/compare_comstock_to_cbecs.py.template
  postprocessing/compare_runs.py.template
  postprocessing/compare_upgrades.py.template
  postprocessing/comstockpostproc/cbecs.py
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_apportionment.py
  postprocessing/comstockpostproc/comstock_measure_comparison.py
  postprocessing/comstockpostproc/comstock_to_cbecs_comparison.py
  sampling/resources/10k_sample_input_validated.csv.zip
Labels: sampling, postprocessing, Pull Request - Ready for CI

#222 HPRTU measure - cfm ton limit revision
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_hvac_add_heat_pump_rtu/README.md
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
  resources/measures/upgrade_hvac_add_heat_pump_rtu/tests/measure_test.rb
  resources/options_lookup.tsv
Labels: upgrade measure
