Repository NREL/ComStock, pull requests merged in 2024-04, with the labels that each got.

#150 2024 Release 1 Postprocessing Updates
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
  postprocessing/comstockpostproc/resources/comstock_enumeration_definitions.csv
  postprocessing/comstockpostproc/utils/hpc.py
  postprocessing/setup.py
Labels: postprocessing, Pull Request - Ready for CI

#131 Furnace count supplemental coil reporting
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: reporting measure, postprocessing

#146 Fixed Deprecated Method Issue Across Multiple Measures
  resources/measures/hardsize_model/measure.rb
  resources/measures/hardsize_model/measure.xml
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
  resources/measures/upgrade_hvac_doas_hp_minisplits/measure.rb
  resources/measures/upgrade_hvac_doas_hp_minisplits/measure.xml
  resources/measures/upgrade_hvac_hydronic_gshp/measure.rb
  resources/measures/upgrade_hvac_hydronic_gshp/measure.xml
  resources/measures/upgrade_hvac_replace_boiler_by_heatpump/measure.rb
  resources/measures/upgrade_hvac_replace_boiler_by_heatpump/measure.xml
Labels: bug, upgrade measure, Pull Request - Ready for CI

#148 Fixed OA Reporting For Zone Equipment
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
Labels: bug, reporting measure, Pull Request - Ready for CI

#154 Fixed Error in Method
  resources/measures/hardsize_model/measure.rb
  resources/measures/hardsize_model/measure.xml
Labels: bug, Pull Request - Ready for CI

#100 Adds comparisons to EIA emissions data
  postprocessing/comstockpostproc/__init__.py
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_to_eia_comparison.py
  postprocessing/comstockpostproc/eia.py
  postprocessing/comstockpostproc/plotting_mixin.py
  postprocessing/test/test_eia_emissions.py
Labels: postprocessing

#157 Add ISO 15927-6 comment to degree day section
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
Labels: reporting measure

#159 Fixed Issues 156
  resources/measures/add_hvac_nighttime_operation_variability/measure.rb
  resources/measures/add_hvac_nighttime_operation_variability/measure.xml
  resources/measures/set_electric_equipment_bpr/measure.rb
  resources/measures/set_exterior_lighting_template/measure.rb
  resources/measures/set_exterior_lighting_template/measure.xml
  resources/measures/set_hvac_template/measure.rb
  resources/measures/set_hvac_template/measure.xml
  resources/measures/set_interior_equipment_template/measure.rb
  resources/measures/set_interior_equipment_template/measure.xml
  resources/measures/set_interior_lighting_technology/measure.xml
  resources/measures/set_service_water_heating_fuel/measure.xml
  resources/measures/set_service_water_heating_template/measure.rb
  resources/measures/set_service_water_heating_template/measure.xml
Labels: bug
