Repository NREL/ComStock, pull requests merged in 2024-06, with the labels that each got.

#182 Update to OpenStudio 3.8.0 and add LBNL GEM gem
  .github/pull_request_template.md
  .gitignore
  README.md
  build/.gitattributes
  build/Dockerfile
  build/README.md
  build/apptainer/Dockerfile
  build/apptainer/build_apptainer.sh
  build/apptainer/requirements.txt
  build/singularity/Dockerfile
  build/singularity/build_singularity.sh
  comstock_hpc_training.md
  measures/ApplyUpgrade/measure.rb
  measures/ApplyUpgrade/measure.xml
  measures/BuildExistingModel/measure.rb
  measures/BuildExistingModel/measure.xml
  national/housing_characteristics/options_lookup.tsv
  resources/Gemfile
  resources/buildstock.rb
  resources/measures/hardsize_model/measure.rb
  resources/measures/set_electric_equipment_bpr/measure.rb
  resources/measures/set_electric_equipment_bpr/tests/set_electric_equipment_bpr_test.rb
  resources/measures/set_interior_lighting_bpr/measure.rb
  resources/measures/set_interior_lighting_bpr/tests/set_interior_lighting_bpr_test.rb
  resources/meta_measure.rb
  resources/options_lookup.tsv
Labels: infrastructure

#178 Ccaradon/add utility bills to measure plots
  postprocessing/comstockpostproc/cbecs.py
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_measure_comparison.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/plotting_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
  postprocessing/comstockpostproc/units_mixin.py
Labels: Pull Request - Ready for CI

#184 fix OA fraction column name
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: postprocessing

#185 fix the temp directory field in hpc.py
  postprocessing/comstockpostproc/utils/hpc.py
Labels: bug, postprocessing
