Repository NREL/ComStock, pull requests merged in 2025-03, with the labels that each got.

#266 update dockerfile to custom ghedesigner version
  build/Dockerfile
  resources/measures/upgrade_hvac_packaged_gshp/measure.rb
Labels: infrastructure, upgrade measure, Pull Request - Ready for CI

#280 add unmet hours plots
  postprocessing/comstockpostproc/comstock_measure_comparison.py
  postprocessing/comstockpostproc/lazyframeplotter.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/plotting_mixin.py
Labels: Pull Request - Ready for CI

#168 EUSS VRF DOAS update
  resources/measures/upgrade_hvac_vrf_hr_doas/measure.rb
  resources/measures/upgrade_hvac_vrf_hr_doas/measure.xml
Labels: upgrade measure, Pull Request - Ready for CI

#277 fix electricity emissions column being used by total with mid case sum
  postprocessing/comstockpostproc/naming_mixin.py
Labels: postprocessing

#286 typo fix in postprocessing naming_mixin script
  postprocessing/comstockpostproc/naming_mixin.py
Labels: postprocessing

#288 remove old ghedesigner version, replaced by custom commit in line 79
  build/Dockerfile
Labels: infrastructure, Pull Request - Ready for CI

#271 percentage savings calculation fix in post-processing
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/plotting_mixin.py
Labels: postprocessing

#287 CI fix
  Jenkinsfile_main_develop
  postprocessing/pytest.ini
  postprocessing/test/test_comstock_to_cbecs_comparison.py
  postprocessing/test/test_comstock_to_eia_comparison.py
  postprocessing/test/test_eia_emissions.py
Labels: infrastructure, Pull Request - Ready for CI

#273 Fix airtightness units
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: postprocessing

#289 Add cooling tower water use to variable reporting
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
  measures/comstock_sensitivity_reports/resources/Variable List.xlsx
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: reporting measure, Pull Request - Ready for CI

#291 correct arg name
  postprocessing/comstockpostproc/plotting_mixin.py
Labels: postprocessing

#293 make sure author names dont wrap onto next line
  documentation/reference_doc/main.tex
Labels: documentation

#292 Wenyi/fix ruby test
  Rakefile
Labels: Pull Request - Ready for CI

#296 L taylor/cbe cs documentation update
  documentation/reference_doc/4_9_hvac.tex
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_FSR.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_HOS.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_LrgHotel.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_LrgOffice.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_MedOffice.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Outpatient.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Primary_School.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_QSR.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Retail.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Retail_Stripmall.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Secondary_School.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Small_Hotel.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Small_Office.png
  documentation/reference_doc/figures/HVAC_SYS_Type_PREV_Warehouse.png
  documentation/reference_doc/figures/hvac_system_type_prevalance.png
  documentation/reference_doc/main.tex
Labels: documentation

#295 Revise utility rate results
  documentation/reference_doc/5_outputs.tex
  measures/utility_bills/measure.rb
  measures/utility_bills/measure.xml
  measures/utility_bills/resources/sampling_region_to_tracts.json
  measures/utility_bills/resources/state_abbrev_to_fips.json
  measures/utility_bills/tests/utility_bills_test.rb
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: workflow measure, postprocessing, Pull Request - Ready for CI

#302 Add district energy to emissions reporting
  documentation/reference_doc/5_outputs.tex
  measures/emissions_reporting/measure.rb
  measures/emissions_reporting/measure.xml
  measures/emissions_reporting/tests/emissions_reporting_test.rb
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: documentation, reporting measure, Pull Request - Ready for CI
