Repository NREL/ComStock, pull requests merged in 2025-07, with the labels that each got.

#359 Updating data sources references.
  documentation/reference_doc/3_sampling.tex
  documentation/reference_doc/5_outputs.tex
  documentation/reference_doc/bibliography.bib
  documentation/reference_doc/main.tex
Labels: documentation

#360 update profiling to run locally and get simulation time
  postprocessing/comstockpostproc/utils/profiling/profilingPerformance.py
Labels: postprocessing, Pull Request - Ready for CI

#365 Update Pull Request Template
  .github/pull_request_template.md
Labels: documentation

#367 Sdr 2025 r3 lighting controls
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_light_lighting_controls/measure.rb
  resources/measures/upgrade_light_lighting_controls/measure.xml
  resources/measures/upgrade_light_lighting_controls/resources/occupancy_sensor_reduction_by_space_type.csv
  resources/measures/upgrade_light_lighting_controls/tests/light_led_test.rb
  resources/options_lookup.tsv
Labels: upgrade measure
