Repository NREL/ComStock, pull requests merged in 2025-09, with the labels that each got.

#374 Water to water heat pump outputs fix
  measures/comstock_sensitivity_reports/README.md
  measures/comstock_sensitivity_reports/measure.rb
  measures/comstock_sensitivity_reports/measure.xml
  measures/comstock_sensitivity_reports/resources/Variable List.xlsx
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: reporting measure, Pull Request - Ready for CI

#391 Add missing district energy emissions columns to postprocessing
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_to_cbecs_comparison.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: postprocessing

#394 Enable criteria pollutant emissions in full metadata
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: postprocessing

#393 Landan t/issue385 fix
  sampling/join_geospatial.py
Labels: sampling, postprocessing
