Repository NREL/ComStock, pull requests merged in 2025-04, with the labels that each got.

#312 Update tract_to_elec_util mapping
  measures/utility_bills/measure.rb
  measures/utility_bills/measure.xml
  measures/utility_bills/resources/tract_to_elec_util_v2.csv
  measures/utility_bills/tests/utility_bills_test.rb
  postprocessing/comstockpostproc/comstock.py
Labels: reporting measure, postprocessing, Pull Request - Ready for CI

#313 Fix postprocessing workflow
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/comstock_apportionment.py
  postprocessing/comstockpostproc/lazyframeplotter.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/plotting_mixin.py
  sampling/join_geospatial.py
Labels: Pull Request - Ready for CI

#276 EUSS/SDR: roof/window measure updates and combining with HP-RTU measure
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_hvac_add_heat_pump_rtu/README.md
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
  resources/measures/upgrade_hvac_add_heat_pump_rtu/resources/call_other_measures.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/tests/measure_test.rb
  resources/options_lookup.tsv
  resources/tests/models/380_Small_Office_psz_gas_1zone_not_hard_sized.osm
Labels: upgrade measure, Pull Request - Ready for CI, Do Not Merge

#274 EUSS/SDR: HP-RTU measure - upsizing logic fix
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
  resources/measures/upgrade_hvac_add_heat_pump_rtu/tests/measure_test.rb
  resources/options_lookup.tsv
  resources/tests/weather/USA_AK_Fairbanks.Intl.AP.702610_TMY3.ddy
  resources/tests/weather/USA_AK_Fairbanks.Intl.AP.702610_TMY3.epw
  resources/tests/weather/USA_HI_Honolulu.Intl.AP.911820_TMY3.ddy
  resources/tests/weather/USA_HI_Honolulu.Intl.AP.911820_TMY3.epw
  resources/tests/weather/USA_NY_New.York-Central.Park.725033_TMY3.ddy
  resources/tests/weather/USA_NY_New.York-Central.Park.725033_TMY3.epw
Labels: upgrade measure, Do Not Merge

#319 lookup table format fix
  measures/comstock_sensitivity_reports/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/resources/performance_maps_hprtu_std.json
  resources/measures/upgrade_hvac_add_heat_pump_rtu/tests/measure_test.rb
  resources/measures/upgrade_hvac_vrf_hr_doas/measure.rb
  resources/measures/upgrade_hvac_vrf_hr_doas/tests/measure_test.rb
Labels: upgrade measure, reporting measure, Pull Request - Ready for CI

#326 Correct pollutant emission units and add to postprocessing data
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: postprocessing

#325 Landan t/hvac charts
  postprocessing/compare_comstock_to_cbecs.py
  postprocessing/compare_comstock_to_cbecs.py.template
  postprocessing/comstockpostproc/cbecs.py
  postprocessing/comstockpostproc/comstock_to_cbecs_comparison.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/plotting_mixin.py
Labels: postprocessing

#324 EEDF: add new demand flexibility output variables related to the grid peak load reduction objective
  measures/qoi_report/measure.rb
  measures/qoi_report/resources/cambium/Load_MidCase_2035/AZNMc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/CAMXc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/ERCTc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/FRCCc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/MROEc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/MROWc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/NEWEc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/NWPPc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/NYSTc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/RFCEc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/RFCMc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/RFCWc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/RMPAc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SPNOc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SPSOc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SRMVc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SRMWc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SRSOc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SRTVc.csv
  measures/qoi_report/resources/cambium/Load_MidCase_2035/SRVCc.csv
  measures/qoi_report/resources/dispatch_schedule_generation.rb
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: reporting measure, postprocessing

#316 utility bill percent savings calculation fix
  postprocessing/comstockpostproc/comstock.py
Labels: postprocessing, Pull Request - Ready for CI

#323 EUSS/SDR: HPRTU measure update
  measures/comstock_sensitivity_reports/measure.rb
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_hvac_add_heat_pump_rtu/README.md
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.xml
  resources/measures/upgrade_hvac_add_heat_pump_rtu/resources/call_other_measures.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/resources/performance_maps_hprtu_std.json
  resources/measures/upgrade_hvac_add_heat_pump_rtu/tests/measure_test.rb
  resources/measures/upgrade_hvac_vrf_hr_doas/measure.rb
  resources/measures/upgrade_hvac_vrf_hr_doas/tests/measure_test.rb
  resources/options_lookup.tsv
  resources/tests/models/380_Small_Office_psz_gas_1zone_not_hard_sized.osm
  resources/tests/weather/USA_AK_Fairbanks.Intl.AP.702610_TMY3.ddy
  resources/tests/weather/USA_AK_Fairbanks.Intl.AP.702610_TMY3.epw
  resources/tests/weather/USA_HI_Honolulu.Intl.AP.911820_TMY3.ddy
  resources/tests/weather/USA_HI_Honolulu.Intl.AP.911820_TMY3.epw
  resources/tests/weather/USA_NY_New.York-Central.Park.725033_TMY3.ddy
  resources/tests/weather/USA_NY_New.York-Central.Park.725033_TMY3.epw
Labels: upgrade measure, reporting measure

#318 EEDF: utility bill measure expansion: breaking down demand charge and energy charge costs
  measures/utility_bills/measure.rb
  measures/utility_bills/measure.xml
  measures/utility_bills/resources/calc_elec_bill.py
  measures/utility_bills/tests/utility_bills_test.rb
  postprocessing/comstockpostproc/comstock.py
  postprocessing/comstockpostproc/naming_mixin.py
  postprocessing/comstockpostproc/resources/comstock_column_definitions.csv
Labels: reporting measure, postprocessing

#255 EUSS FY25 Release 2 - Electric Resistance Boilers
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_hvac_electric_boiler/LICENSE.md
  resources/measures/upgrade_hvac_electric_boiler/README.md
  resources/measures/upgrade_hvac_electric_boiler/README.md.erb
  resources/measures/upgrade_hvac_electric_boiler/measure.rb
  resources/measures/upgrade_hvac_electric_boiler/measure.xml
  resources/measures/upgrade_hvac_electric_boiler/tests/elec_boiler_test.rb
  resources/options_lookup.tsv
Labels: upgrade measure, Do Not Merge

#322 GHP measure package implementation
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_env_new_aedg_windows/measure.rb
  resources/measures/upgrade_hvac_console_gshp/README.md
  resources/measures/upgrade_hvac_console_gshp/measure.rb
  resources/measures/upgrade_hvac_console_gshp/measure.xml
  resources/measures/upgrade_hvac_console_gshp/resources/call_other_measures.rb
  resources/measures/upgrade_hvac_console_gshp/resources/performance_curves.rb
  resources/measures/upgrade_hvac_console_gshp/tests/console_gthp_test.rb
  resources/measures/upgrade_hvac_hydronic_gshp/README.md
  resources/measures/upgrade_hvac_hydronic_gshp/measure.rb
  resources/measures/upgrade_hvac_hydronic_gshp/measure.xml
  resources/measures/upgrade_hvac_hydronic_gshp/resources/call_other_measures.rb
  resources/measures/upgrade_hvac_hydronic_gshp/resources/performance_curves.rb
  resources/measures/upgrade_hvac_hydronic_gshp/tests/hydronic_gthp_test.rb
  resources/measures/upgrade_hvac_packaged_gshp/README.md
  resources/measures/upgrade_hvac_packaged_gshp/measure.rb
  resources/measures/upgrade_hvac_packaged_gshp/measure.xml
  resources/measures/upgrade_hvac_packaged_gshp/resources/call_other_measures.rb
  resources/measures/upgrade_hvac_packaged_gshp/resources/performance_curves.rb
  resources/measures/upgrade_hvac_packaged_gshp/tests/packaged_gthp_test.rb
  resources/options_lookup.tsv
Labels: upgrade measure, Do Not Merge

#331 SDR: utility bill cost adjustments to all breakdown costs
  measures/utility_bills/measure.rb
  measures/utility_bills/tests/utility_bills_test.rb
Labels: reporting measure

#332 Ccaradon/hp rtu lab data
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_hvac_add_heat_pump_rtu/measure.rb
  resources/measures/upgrade_hvac_add_heat_pump_rtu/resources/performance_maps_hprtu_lab_data.json
  resources/options_lookup.tsv
Labels: upgrade measure

#333 SDR: options lookup fix
  national/housing_characteristics/options_lookup.tsv
  resources/options_lookup.tsv
Labels: bug

#330 EUSS/SDR: Sync two DF measures for final merge
  national/housing_characteristics/options_lookup.tsv
  resources/measures/upgrade_add_pvwatts/LICENSE.md
  resources/measures/upgrade_add_pvwatts/README.md
  resources/measures/upgrade_add_pvwatts/README.md.erb
  resources/measures/upgrade_add_pvwatts/docs/.gitkeep
  resources/measures/upgrade_add_pvwatts/measure.rb
  resources/measures/upgrade_add_pvwatts/measure.xml
  resources/measures/upgrade_add_pvwatts/tests/example_model.osm
  resources/measures/upgrade_add_pvwatts/tests/upgrade_add_pvwatts_test.rb
  resources/measures/upgrade_df_lighting_control/measure.rb
  resources/measures/upgrade_df_lighting_control/measure.xml
  resources/measures/upgrade_df_lighting_control/resources/call_other_measures.rb
  resources/measures/upgrade_df_lighting_control/tests/df_lighting_control_test.rb
  resources/measures/upgrade_df_thermostat_control_load_shed/measure.rb
  resources/measures/upgrade_df_thermostat_control_load_shed/measure.xml
  resources/measures/upgrade_df_thermostat_control_load_shed/resources/call_other_measures.rb
  resources/measures/upgrade_df_thermostat_control_load_shift/measure.xml
  resources/options_lookup.tsv
Labels: upgrade measure

#334 Ltaylor/fix local run readme
  comstock_local_run.md
Labels: bug, documentation
